<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/eer3cem.css">
    <link rel="icon" type="image/svg+xml" href="/assets/Icons/favicon.svg">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta name="google-site-verification" content="7_JXCvAppl-f1ClDBX-L0UiIkxYCrLiQ3Ds14np89N8" />
</head>
<body>
    {{ content | safe }}
    {% include 'footer.njk' %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }



 const forms = document.querySelectorAll('.subscribe-form');
  const message = document.getElementById('message');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const email = form.email.value;

    try {
      const response = await fetch('/.netlify/functions/subscribe', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email })
      });

      const result = await response.json();

      if (response.ok) {
        message.textContent = "You're in! Thanks for subscribing.";
        form.reset();
      } else {
        message.textContent = 'Error: ' + (result.error || 'Unknown error');
      }
    } catch (error) {
      message.textContent = 'Network error, please try again later.';
    }
  });


</script>

</body>
</html>